<!--Загльна структура сервісу-->

<!--Лоадер-->
<mat-progress-bar class="progress-bar" mode="indeterminate" *ngIf="dataService.inProgress$ | async"></mat-progress-bar>
<!--Контент-->
<div class="global-content">
    <div class="d-flex">
        <div class="flex-1">
            <!--Компонент з головною формою-->
            <app-input-form></app-input-form>
        </div>
        <div class="flex-1">
            <!--Компонент з акваторією-->
            <app-input-chart></app-input-chart>
        </div>
    </div>
    <!--Компонент для виводу таблиці з направленнями-->
    <app-input-appearence></app-input-appearence>
</div>

<!--Невидима силка для скачування згенерованого-->
<a style="display: none" id="download-link" href="http://localhost:8000/api/download" download></a>

