@import "../../../assets/styles/utils"

table
  border-collapse: collapse

th
  color: $secondary-text-color
  font-weight: normal

td, th
  font-size: 15px
  padding: 10px

tr
  border-top: 1px solid $divider-color

.mat-padding
  padding: 8px
