<mat-card class="mt-30">
  <table class="w-100">
    <th class="flex-1">Начальные координаты</th>
    <th class="flex-1">Глубина начальной точки</th>
    <th class="flex-1">Конечные координаты</th>
    <th class="flex-1">Глубина конечной точки</th>
    <th class="flex-1">Скорость</th>
    <tr *ngFor="let arrow of dataService.arrows">
      <td align="center">X: {{ arrow.beginLocation.layerX }}; Y: {{ arrow.beginLocation.layerY }}</td>
      <td align="center">{{ arrow.beginLocation.depth }}</td>
      <td align="center">X: {{ arrow.targetLocation.layerX }}; Y: {{ arrow.targetLocation.layerY }}</td>
      <td align="center">{{ arrow.targetLocation.depth }}</td>
      <td align="center">{{ arrow.velocity }}</td>
    </tr>
  </table>
  <div *ngIf="!dataService.arrows.length"
       class="mat-padding"
  >
    <h3 class="mat-display-1 push-xxl text-color-secondary d-flex justify-content-center">Не добавлено ни одного направления</h3>
  </div>
</mat-card>
