<h2 mat-dialog-title>Введите данные</h2>

<mat-dialog-content class="d-flex" [formGroup]="arrowDataForm">
  <mat-form-field class="flex-1 mr-20">
    <input matInput
           type="number"
           (keydown.enter)="save()"
           formControlName="depth"
           placeholder="Глубина"
    />
  </mat-form-field>
  <mat-form-field class="flex-1" *ngIf="shouldShowVelocity">
    <input matInput
           type="number"
           (keydown.enter)="save()"
           formControlName="velocity"
           placeholder="Скорость"
    />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button class="text-uppercase color-accent"
          (click)="close()"
          i18n="Настройка ролей аккаунта | Текст кнопки отмены изменений настройки ролей"
  >Отменить</button>
  <button mat-raised-button class="text-uppercase mat-primary apply-btn"
          (click)="save()"
          [disabled]="arrowDataForm.invalid"
          i18n="Настройка ролей аккаунта | Текст кнопки сохранений изменений настройки ролей"
  >Сохранить</button>
</mat-dialog-actions>




