<div class="d-flex fd-column align-items-center ph-20">
  <div class="d-flex justify-content-center w-100 position-relative">
    <canvas #inputChart
            class="mr-20"
            width="300px"
            height="300px"
            (mousemove)="mouseMove($event)"
            (mouseleave)="mouseLeave()"
            (click)="drawArrow($event.layerX, $event.layerY)">
    </canvas>
    <div class="coordinates text-color-secondary">
      <span *ngIf="hoverX && hoverY">
        X: {{ hoverX }}, Y: {{ hoverY }}
      </span>
    </div>
  </div>
  <div class="d-flex fd-column w-100 actions">
    <form class="d-flex" [formGroup]="pointForm">
      <mat-form-field class="mr-20 flex-1">
        <input type="number"
               matInput
               formControlName="xPoint"
               placeholder="Введите X"
        />
      </mat-form-field>
      <mat-form-field class="flex-1">
        <input type="number"
               matInput
               formControlName="yPoint"
               placeholder="Введите Y"
        />
      </mat-form-field>
    </form>
    <div class="action-buttons d-flex flex-end">
      <button mat-button
              color="accent"
              class="mr-20"
              [disabled]="!dataService.arrows.length"
              (click)="clearChart()"
      >
        Удалить все направления
      </button>
      <button mat-button
              mat-raised-button
              class="apply-btn mat-primary"
              [disabled]="pointForm.invalid"
              (click)="addPoint()"
      >
        Поставить точку
      </button>
    </div>
  </div>
</div>

