<div class="content d-flex" [formGroup]="signalForm">
    <mat-form-field>
        <input matInput
               type="number"
               placeholder="Начальное время (с)"
               formControlName="timeStart"
        />
    </mat-form-field>

    <mat-form-field>
        <input matInput
               type="number"
               placeholder="Конечное время (с)"
               formControlName="timeEnd"
        />
    </mat-form-field>

    <mat-form-field>
        <input matInput
               type="number"
               placeholder="Глубина приемника (м)"
               formControlName="gasDepth"
        />
    </mat-form-field>

    <mat-form-field>
        <input matInput
               type="number"
               placeholder="Видимая глубина (м)"
               value="500"
               formControlName="seaDepth"
        />
    </mat-form-field>

    <mat-form-field>
        <input matInput
               type="number"
               placeholder="Амплитуда"
               formControlName="amplitude"
        />
    </mat-form-field>

    <mat-form-field>
        <input matInput
               type="number"
               placeholder="Частота"
               formControlName="frequency"
        />
    </mat-form-field>
    <mat-form-field>
        <input matInput
               type="number"
               placeholder="Скорость звука (м/с)"
               formControlName="soundSpeed"
        />
    </mat-form-field>
    <div class="actions-buttons d-flex">
        <button mat-button
                mat-raised-button
                class="apply-btn mat-primary flex-1 mr-20"
                [disabled]="signalForm.invalid || !dataService.arrows.length"
                (click)="modeling()"
        >
            Моделировать
        </button>
        <button mat-button
                class="mat-accent flex-1 mr-20"
                [disabled]="signalForm.pristine && signalForm.untouched"
                (click)="clearForm()"
        >
            Очистить форму
        </button>
        <button mat-button
                class="mat-primary flex-1"
                [disabled]="!dataService.dataToBuildCharts"
                (click)="buildCharts()"
        >
            Построить графики
        </button>
        <div class="flex-1"></div>
    </div>
</div>
