<h2 mat-dialog-title>Графики</h2>

<mat-dialog-content>
  <mat-tab-group (selectedIndexChange)="draw(tabs[$event])">
    <mat-tab *ngFor="let tab of tabs" [label]="tab.title">
      <div class="chart-content">
        <canvas id="chart" baseChart width="800" height="400"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [colors]="[{borderColor: tab.color}]"
              [options]="lineChartOptions"
              [chartType]="lineChartType">
        </canvas>
      </div>
      <span class="d-flex justify-content-center mt-20">Час</span>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
