@import '~@angular/material/theming'
//@import '~/angular-notifier/styles/core.scss'

@include mat-core()
$primary: mat-palette($mat-cyan, 700)
$accent: mat-palette($mat-deep-orange, 500)
$theme: mat-light-theme($primary, $accent)
@include angular-material-theme($theme)

@media print
  *
    box-shadow: none !important

html, body
  height: unset !important
  max-height: 100% !important
  overflow: hidden


