@keyframes loading
  0%
    width: 0
    left: 0
    right: auto
  49%
    width: 100%
    left: 0
    right: auto
  50%
    width: 100%
    left: auto
    right: 0
  100%
    width: 0
    left: auto
    right: 0

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0